#hspace {
    height: 72px;
}
#marcorr {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.btn:hover {
    cursor: initial;
}
.butt {
    cursor: pointer;
    margin-top: 1rem;
}
#txtcent {
    text-align: center;
}