<div id="hspace"></div>
<main class="container">
    <div class="card" id="marcorr">
        <div class="row no-gutters">
            <aside class="col-md-4">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img" alt="Movie poster">
            </aside>
            <article class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title text-center">{{movie.title}}</h3>
                    <div style="text-align: center">
                        <p class="card-text text-muted">{{movie.tagline}}</p>
                        <button type="button" *ngFor="let genre of movie.genres" class="btn btn-outline-primary ml-4 mr-4 mb-3 mt-1">{{genre.name}}</button>
                    </div>
                    <p class="card-text">{{movie.overview}}</p>
                    <p class="card-text">Budget: {{movie.budget.toLocaleString('en', {useGrouping:true})}}</p>
                    <p class="card-text">Release Date: {{movie.release_date}}</p>
                    <p class="card-text">Rating : {{movie.vote_average}} from {{movie.vote_count}} users</p>
                    <p class="card-text">Runtime : {{movie.runtime}}</p>
                    <a href="{{movie.homepage}}" class="card-text">{{movie.homepage}}</a><br>
                    <div *ngIf="check; then Fav else notFav"></div>
                    <ng-template #notFav><button  (click)="addFav()" type="button" class="btn btn-outline-primary" id="butt"><i class="far fa-bookmark fa-1x float-left"></i>Add to Favorites</button></ng-template>
                    <ng-template #Fav><button type="button" class="btn btn-outline-success" style="margin-top: 1rem"><i class="far fa-bookmark fa-1x float-left"></i>Added to Favorites</button></ng-template>
                </div>
            </article>
        </div>
    </div>
</main>
