<div id="hspace"></div>
<main class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Favorites</h1>
    </div>
</main>
<div class="container">
    <section class="row mb-3" *ngFor="let f of favoritesList">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-2">          
                    <img src="https://image.tmdb.org/t/p/w500{{f.poster_path}}" class="card-img" alt="Movie Image">
                </aside>
                <article class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{f.title}}</h5>
                        <p class="card-text">{{f.overview}}</p>
                        <p class="card-text">Rating : {{f.vote_average}}</p>
                        <div class="form-group">
                            <label for="comment">Comments</label>
                            <div *ngFor="let i of f.comments, let in=index">
                                <p id="comm">{{i}}</p>
                                <button type="button" (click)="edit(in)" class="btn btn-dark" id="edit"><i class="fas fa-pen"></i>Edit</button>
                            </div>
                            <div *ngIf="editt; else elseBlock">
                                <textarea #comment class="form-control mb-2" placeholder="Enter Comments here" rows="2" id="commentarea"></textarea>
                                <button (click)="addComm(comment.value, f)" type="submit" class="btn btn-outline-secondary">Add Comment</button>
                            </div>
                            <ng-template #elseBlock>
                                <textarea #comment1 class="form-control mb-2" value="{{f.comments[editn]}}" rows="2" id="commentarea"></textarea>
                                <button (click)="editComm(comment1.value, f)" type="submit" class="btn btn-outline-secondary">Edit Comment</button>
                            </ng-template>
                        </div>
                        <button type="button" (click)="removeFav(f.id)" class="btn btn-outline-danger">Remove from Favorites</button>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>