#hspace {
    height: 72px;
}
form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#padcorr {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#padcor {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.card:hover {
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
